/*----------------------------*/
/* Responsive */

.desktop {
  visibility: hidden;
}

@media only screen and (min-width: 400px) {
  :root {
    --grid-columns: 5;
    --grid-gap: 3px;
  }

  .main img,
  .main video {
    width: calc(100vw / var(--grid-columns) - 10px);
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --grid-columns: 6;
    --grid-gap: 10px;
  }

  .main img,
  .main video {
    width: calc(100vw / var(--grid-columns) - var(--grid-gap) / 2);
  }

  .desktop {
    visibility: visible;
  }

  .banner {
    padding-top: 10vh;
  }

  .banner h1 {
    font-size: 72px;
  }

  .banner img {
    width: 250px;
  }

  .main img {
    border-radius: 10px;
  }

  /* Ok to add some extra animation for desktop */
  .main img:hover {
    position: relative;
    z-index: 2;
    border: 4px solid orange;
    transform: scale(1.15);
    filter: sepia();
  }

  .main img:active {
    border-color: #bada55;
    transform: scale(0.9);
  }
}

@media only screen and (min-width: 1080px) {
  :root {
    --grid-columns: 8;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --grid-columns: 12;
  }
}
