/*----------------------------*/
/* Responsive */

@media only screen and (min-width: 400px) {
  :root {
    --grid-columns: 5;
    --grid-gap: 3px;
  }

  .main img,
  .main video {
    width: calc(100vw / var(--grid-columns) - 10px);
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --grid-columns: 6;
    --grid-gap: 10px;
  }

  .main img,
  .main video {
    width: calc(100vw / var(--grid-columns) - var(--grid-gap) / 2);
  }

  .desktop {
    visibility: visible;
  }

  .banner {
    padding-top: 10vh;
  }

  .banner h1 {
    font-size: 72px;
  }

  .banner img {
    width: 250px;
  }
}

@media only screen and (min-width: 1080px) {
  :root {
    --grid-columns: 8;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --grid-columns: 12;
  }
}
