/*----------------------------*/
/* Responsive */

.desktop {
  visibility: hidden;
}

:root {
  --grid-columns: 5;
  --grid-gap: 3px;
}

.main {
  width: 100%;
  padding: var(--grid-gap);
  overflow: hidden;
}

.main img {
  width: calc(100vw / var(--grid-columns) - 2px);
}

@media only screen and (min-width: 768px) {
  :root {
    --grid-columns: 6;
    --grid-gap: 5px;
  }

  .main img,
  .main video {
    width: calc(100vw / var(--grid-columns) - var(--grid-gap));
  }

  .desktop {
    visibility: visible;
  }

  .banner {
    padding-top: 10vh;
  }

  .banner h1 {
    font-size: 72px;
  }

  .banner img {
    width: 250px;
  }

  .main img {
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
  }

  /* Ok to add some extra animation for desktop */
  .main img:hover {
    position: relative;
    z-index: 2;
    border: 2px solid orange;
    transform: scale(1.1);
    filter: sepia();
  }

  .main img:active {
    border-color: #bada55;
    transform: scale(0.9);
  }
}

@media only screen and (min-width: 1080px) {
  :root {
    --grid-columns: 8;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --grid-columns: 12;
  }
}
