@import 'https://unpkg.com/open-props';

/*----------------------------*/
:root {
  --grid-columns: 5;
  --grid-gap: 3px;
  --button-width: 100px;
  --button-height: 50px;
  --button-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Debugging CSS */
  /* outline: 3px solid limegreen !important; */
  /* background: rgb(0 100 0 / 0.05) !important; */
}

button {
  appearance: none;
  color: white;
  min-height: var(--button-height);
  min-width: var(--button-width);
  border-radius: var(--button-radius);
  background-color: rgba(64, 64, 0, 0.7);
  border: 4px solid rgb(94, 47, 47);
  margin-bottom: 6px;
  padding: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

button:hover {
  border: 4px solid rgb(26, 183, 183);
  transform: scale(1.1);
}

button:active {
  transform: translateY(10%);
}

/*----------------------------*/
/* Toggle buttons */

.command {
  z-index: 10;
}

.toggle {
  position: fixed;
  margin: 10px;
}

.toggle.bananas {
  bottom: 0;
  left: 0;
}

.toggle.poem {
  top: 0;
  right: 0;
  border-radius: var(--button-radius);
}

/*----------------------------*/
/* Modal */

.modal.position {
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.modal.style {
  opacity: 1;
  color: white;
  font-size: 48px;
  background-color: black;
  transition: 0.7s opacity;
}

.modal.transparent {
  opacity: 0;
}

.modal.invisible {
  visibility: hidden;
}

#modal-content {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*----------------------------*/
/* Close */

span.close {
  position: absolute;
  top: 20px;
  right: 20px;
  line-height: 0;
  border-radius: 50%;
  background-color: purple;
  transition: 0.5s;
}

span.close:hover {
  transform: scale(1.1);
  padding: 10px;
  top: 10px;
  right: 10px;
}

span.close:active {
  transform: scale(0.8);
  padding: 0;
  top: 20px;
  right: 20px;
}

.close > svg:hover > path {
  fill: red;
}

.close:active > svg > path {
  fill: #bada55;
}

/*----------------------------*/
/* Banner */

.banner {
  z-index: 5;
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100vh;
}

.banner {
  padding-top: 0;
  color: #bada55;
  font-family: 'Amatic SC', Arial, sans-serif;
}

.banner .middle {
  background-color: rgba(216, 0, 0, 0.3);
  width: 100%;
  padding: 10px;
}

.banner h1 {
  font-family: 'Amatic SC', Arial, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.banner div {
  background-color: rgba(0, 0, 0, 0.3);
  width: 310px;
}

.banner img {
  width: 150px;
}

.banner .logo {
  --rotation: 120deg;
  -webkit-filter: hue-rotate(var(--rotation));
  filter: hue-rotate(var(--rotation));
}

.poem {
  background-color: rgba(0, 127, 127, 0.7);
  font-family: Lucida Console, Monaco, monospace;
  font-size: 0.8rem;
  max-width: 420px;
  border-radius: var(--button-radius);
}

.poem.anim {
  overflow: hidden;
  height: 0;
  transition: height 0.4s ease-in-out;
}

.poem.anim.fadeIn {
  height: 500px;
}

/*----------------------------*/
/* Dashboard */

.dashboard {
  visibility: hidden;
  opacity: 0;
  animation: opacity 0.2s ease-in-out;
}

.dashboard.visible {
  visibility: visible;
  opacity: 1;
}

.dashboard-left {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--button-width);
  padding: 10px;
}

.dashboard-right {
  position: fixed;
  top: 56px;
  right: var(--button-radius);
  width: var(--button-width);
  padding: 10px;
}

/*----------------------------*/
/* Masonry layout */

.main {
  margin: 0px auto;
  columns: var(--grid-columns);
  column-gap: var(--grid-gap);
}

.main img {
  width: calc(100vw / var(--grid-columns) - 10px);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid rgba(0, 0, 0, 0); /* placeholder */
}

.main img:hover {
  filter: contrast(200%);
  border-color: orange;
  transform: scale(1.4);
}

.main img:active {
  border-color: #bada55;
  transform: scale(1.2);
}

.main img.highlight {
  border-color: #bada55;
  transform: scale(3);
  transition: 0.1s;
}

.main img {
  filter: none;
}

/*----------------------------*/
/* Backgrounds */

.gradient-bg {
  background: var(--gradient-18);
  background-attachment: fixed;
}

.gradient2-bg {
  background: var(--gradient-21);
  background-attachment: fixed;
}

.gradient3-bg {
  background: linear-gradient(to top left, red, yellow);
  background-attachment: fixed;
}

.black-bg {
  background-color: rgba(16, 16, 16, 1);
}

.blue-bg {
  background-color: #026873;
  background-size: 13px 13px, 29px 29px, 37px 37px, 53px 53px;
  background-image: linear-gradient(
      0,
      rgba(255, 255, 255, 0.07) 50%,
      transparent 50%
    ),
    linear-gradient(0, rgba(255, 255, 255, 0.13) 50%, transparent 50%),
    linear-gradient(0, transparent 50%, rgba(255, 255, 255, 0.17) 50%),
    linear-gradient(0, transparent 50%, rgba(255, 255, 255, 0.19) 50%);
}

.green-bg {
  background: radial-gradient(
        circle at 0% 50%,
        rgba(96, 16, 48, 0) 9px,
        #613 10px,
        rgba(96, 16, 48, 0) 11px
      )
      0px 10px,
    radial-gradient(
      at 100% 100%,
      rgba(96, 16, 48, 0) 9px,
      #613 10px,
      rgba(96, 16, 48, 0) 11px
    ),
    #8a3;
  background-size: 20px 20px;
}
