/*----------------------------*/
/* Responsive */

@media only screen and (min-width: 400px) {
  :root {
    --grid-columns: 3;
    --grid-gap: 4px;
  }

  .banner .middle {
    padding-left: 40px;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --grid-columns: 6;
  }

  .desktop {
    visibility: visible;
  }

  .banner {
    padding-top: 10vh;
  }

  .banner h1 {
    font-size: 72px;
  }

  .banner img {
    width: 250px;
  }
}

@media only screen and (min-width: 1080px) {
  :root {
    --grid-columns: 8;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --grid-columns: 12;
  }
}
